.pageWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Topbar */

.prof > *:last-child {
  border-radius: 1000px;
  object-fit: scale-down;
  margin-right: 10px !important;
}

.prof p {
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 14px;
  color: var(--text-dark);
}

/* Sidebar */

.sidebar {
  background-color: red;
  width: 220px;
  height: 100vh;
  background-color: var(--main-color);
}

.sidebarHeader {
  /* background-color: red; */
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarHeader h1 {
  color: #fff;
  font-size: 19px;
  margin-bottom: 0;
  margin-left: 10px;
}

.divider {
  width: 180px;
  background-color: rgba(255, 255, 255, 0.781);
  margin: 0 auto;
  height: 0.5px;
}

.dividerAlt {
  width: 180px;
  background-color: #a7aff9;
  margin: 0 auto;
  height: 0.5px !important;
}

.sidebarLink {
  color: var(--text-blue);
  font-size: 14px;
  padding: 10px 20px;
}

.sidebarLink:hover {
  color: #fff;
}

.sidebarLink > *:first-child {
  width: 16px;
}

.topbar {
  height: 75px;
  width: calc(100vw - 220px);
}

/* Page Content */

.pageContent {
  background-color: #F8F8F8;
  width: calc(100vw - 220px);
  height: calc(100vh - 75px);
  display: flex;
}