@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
}

:root {
  --main-color: #464FCF;
  --text-dark: #888;
  --text-light: #ccc;
  --text-blue: #A7AFF9;
  --main-color-dark: #3d47cf;
}

* {
  box-sizing: border-box;
}
