.navbar {
  color: red;
  background-color: blue;
}

/* Bootstrap */

.outlineBtn {
  color: var(--main-color);
  border-color: var(--main-color);
}

.outlineBtn:hover {
  border-color: var(--main-color);
  background-color: var(--main-color-dark) !important ;
}

.solidBtn {
  background-color: var(--main-color);
}

.solidBtn:hover,
.solidBtn:active,
.solidBtn:focus {
  background-color: var(--main-color-dark) !important ;
  box-shadow: none !important;
}

/* Page Content */

.pageWrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.header h1 {
  font-size: 75px;
  color: var(--main-color);
  font-weight: 700;
}

.header p {
  text-align: center;
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.getStarted {
  width: 200px;
  height: 55px;
}